<h1><%= @user_group.name %></h1>
<h2>Slack Users</h2>
<%= link_to "Back To User Groups", user_groups_path %>

<% cache do %>
  <% @slack_users.each do |slack_user| %>
    <% if slack_user.active %>
      <h4>Username: <%= slack_user.username %></h4>
      <h4>Name: <%= slack_user.name %></h4>
      <h4>Email: <%= slack_user.email %></h4>
      <h4><%= link_to "Remove User From Lunch Roulette", slack_user_path(slack_user), method: :delete %></h4><br>
    <% end %>
  <% end %>
<% end %>
